{% load static %}


<footer class="">
    <div class="container-fluid">
        <div class="footer-section">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col-md-4">
                    <div class="card bg-transparent border-0" style="max-width: 25rem;">
                        <a href="/"><img src="{% static 'images/cloudservewhite.svg' %}" class="footer-logo"></a>
                        <div class="card-body p-0">
                            <p class="footer-text mt-4">
                                Leading provider of smart networking and communication solutions for modern businesses. We deliver cutting-edge IT infrastructure and automation systems.
                            </p>
                            <div class="social-icons">
                                <a href="#" target="_blank"><img src="{% static 'icons/line-md_twitter.svg' %}"> </a>
                                <a href="#" target="_blank"><img src="{% static 'icons/ri_linkedin-fill.svg' %}"> </a>
                                <a href="#" target="_blank"><img src="{% static 'icons/ri_facebook-fill.svg' %}"> </a>
                                <a href="#" target="_blank"><img src="{% static 'icons/mingcute_youtube-line.svg' %}"> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card bg-transparent border-0" style="max-width: 25rem;">
                        <div class="card-body p-0">
                            <p class="footer-text-1">Quick Links</p>
                            <a href="#" class="no-decoration"><p class="footer-text-2 mt-4">About Us</p></a>
                            <a href="#" class="no-decoration"><p class="footer-text-2 mt-4">Solutions</p></a>
                            <a href="#" class="no-decoration"><p class="footer-text-2 mt-4">Products</p></a>
                            <a href="#" class="no-decoration"><p class="footer-text-2 mt-4">Services</p></a>
                            <a href="#" class="no-decoration"><p class="footer-text-2 mt-4">Contact Us</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card bg-transparent border-0" style="max-width: 25rem;">
                        <div class="card-body p-0">
                            <p class="footer-text-1">Quick Links</p>
                            <a href="#" class="no-decoration"><p class="footer-text-2 mt-4">About Us</p></a>
                            <a href="#" class="no-decoration"><p class="footer-text-2 mt-4">Solutions</p></a>
                            <a href="#" class="no-decoration"><p class="footer-text-2 mt-4">Products</p></a>
                            <a href="#" class="no-decoration"><p class="footer-text-2 mt-4">Services</p></a>
                            <a href="#" class="no-decoration"><p class="footer-text-2 mt-4">Contact Us</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-transparent border-0" style="max-width: 25rem;">
                        <div class="card-body p-0">
                            <div class="loc-1">
                                <img src="{% static 'icons/mingcute_location-line.svg' %}"><p>123 Technology Drive, Business District, City 12345</p>
                            </div>
                            <div class="loc-1 mt-2">
                                <img src="{% static 'icons/ic_outline-phone.svg' %}"><p>+1 (555) 123-4567</p>
                            </div>
                            <div class="loc-1 mt-2">
                                <img src="{% static 'icons/material-symbols_mail-outline.svg' %}"><p>info@cloudserve.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 Cloudserve. All rights reserved.</p>
    </div>
</footer>