* /* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
. {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body{
    background: #FFF;
}

.navbar{
    max-width: 90rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
}

.navbar-brand img{
    width: 8rem;
    height: 4rem;
}

.logo-green {
    display: none;
}

.navbar-nav{
    border-radius: 2.625rem;
    background: #FFF;
    padding: 0.5rem;
    padding-left: 0.5rem !important;
}


.nav-item.nav-item-spaced {
    margin-right: 0.8125rem;
}

.nav-item-spaced:last-child {
    margin-right: 0;
}

.nav-link{
    border-radius: 1.875rem;
    padding: 0.5rem 1rem !important;
    font-size: 0.875rem !important;
    color: #000 !important;
    font-style: normal;
    font-weight: 500;
}

.nav-link:hover{
    background: #0B5394;
    color: #FFF !important;
}



.btn.req-btn{
    border-radius: 0.25rem;
    background: #FFF;
    padding: 0.5rem 1rem;
    color: #000;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn.req-btn:hover{
    border-radius: 0.25rem;
    background: #FFF;
    padding: 0.5rem 1rem;
}

.navbar-toggler.off{
    border-radius: 0.25rem;
    background: #FFF;
    padding: 0.5rem 1rem;
}

/**for scrolling**/
#mainNavbar {
    transition: background-color 0.4s ease, padding 0.4s ease, box-shadow 0.4s ease;
}

.navbar-brand img {
    transition: opacity 0.6s ease;
}

.btn.req-btn {
    transition: background-color 0.4s ease, color 0.4s ease;
}

.navbar-nav{
    transition: background-color 0.4s ease;
}

/**scrolled**/
#mainNavbar {
    background: transparent;
    box-shadow: none;
}

/* SCROLLED STATE */
#mainNavbar.scrolled {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#mainNavbar.scrolled .logo-original {
    opacity: 0;
}

#mainNavbar.scrolled .logo-green {
    display: block !important;
    opacity: 1;
}

.logo-green {
    opacity: 0;
}

#mainNavbar.scrolled .req-btn {
    background: #4CAF50BF !important;
    color: #000 !important;
}

#mainNavbar.scrolled .navbar-nav {
    background: #F7F9FC !important;
}


/***HERO HOMEPAGE***/

.card.header-card {
    position: relative;
    overflow: hidden; /* <-- THIS is critical. */
    border: none;
    background: none;
    border-radius: 0;
    min-height: 100vh;
    transform-origin: top center;
}

.card-video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(267deg, rgba(0, 0, 0, 0.00) 2.32%, rgba(0, 0, 0, 0.70) 56.26%);
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5rem;
}

@media (max-width: 998px) {
  .card-img-overlay {
    padding: 1rem;
  }
}

.hero-title{
    max-width: 47.5rem;
    color: #FFF;
    font-family: Manrope;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 6rem; /* 150% */
}
.hero-subtitle{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem; /* 150% */
    max-width: 38.5rem;
}

.hero-number{
    color: #FFF;
    font-family: Manrope;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.5rem; /* 150% */
}

.hero-text{
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}

.section-1{
    padding: 5rem 0;
}

.pill-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.pill-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
}

.pill-text{
    color: #444;
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.section-heading-1{
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.5rem; /* 150% */
    max-width: 38.5rem;
    margin-top: 1.25rem;
}

.section-subheading-1{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    letter-spacing: -0.02rem;
    max-width: 38.5rem;
    margin-top: 1rem;
}

.content-1{
    margin-top: 5rem;
}

.about-text-1{
    color: #000;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* 166.667% */
}

.about-heading-1{
    color: #111827;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 120% */
    margin-top: 1rem;
}

.why-tab{
    display: flex;
    align-items: center;
    gap: 1.125rem;
}

.why-text{
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    letter-spacing: -0.02rem;
    margin: 0;
}

.btn.about-btn{
    border-radius: 0.5rem;
    background: #0B5394;
    display: flex;
    padding: 0.5625rem 1rem;
    align-items: center;
    gap: 0.25rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    letter-spacing: -0.02rem;
}

.about-img{
    max-height: 26rem;
    border-radius: 0.5rem;
}



.card.product-card{
    border: none;
    max-width: 24rem;
    overflow: hidden;
    border-radius: 0.8rem;
}

.product-img-wrapper {
    overflow: hidden;
    border-radius: 0.8rem;
}

.product-img-bg {
    width: 100%;
    height: 25rem;
    background-size: cover;
    background-position: center;
    border-radius: 0.8rem;
    transition: transform 0.5s ease;
    transform-origin: center center;
}

.product-title{
    color: #111827;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product-subtitle{
    color: #0B5394;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem; /* 187.5% */
}

.product-card:hover .product-img-bg {
    transform: scale(1.1);
}

.swiper-logo-div{
    height: 7.5rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-logo-1 {
    width: 100%;
    height: auto;          /* responsive */
    max-height: 6rem;    /* keeps consistent size across slides */
    object-fit: contain;   /* prevents stretching */
}

.swiper-logo-div img {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.swiper-logo-div:hover img {
    filter: grayscale(0%);
}



.industry-img-bg {
    width: 100%;
    height: 37.5rem;
    background-size: cover;
    background-position: center;
    border-radius: 0.8rem;
    transition: background-image 0.5s ease-in-out, opacity 0.3s ease;
}


.industry-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.875rem;
}

.btn.industry-btn{
    border-radius: 0.75rem;
    background: rgba(11, 83, 148, 0.25);
    display: flex;
    height: 4.75rem;
    width: 100%;
    padding: 0.5625rem 1.875rem;
    align-items: center;
    gap: 0.625rem;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem; /* 150% */
    letter-spacing: -0.03rem;
}

.btn.industry-btn:hover{
    background: #0B5394;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem; /* 150% */
    letter-spacing: -0.03rem;
}

.card.ready-card{
    border: none;
    border-radius: 0.75rem;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0.8rem;
    height: 50rem;

}


.ready-card .card-img-overlay {
    position: absolute;
    inset: 0;
    z-index: 2;  /* ABOVE image */
    padding: 5rem 6.25rem;
    display: block;
}

.pill-section-1 {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card.contact-card{
    padding: 2rem;
    border-radius: 1rem;
}

.btn.send-btn{
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    align-self: stretch;
    border-radius: 1rem;
    border: 2px solid #0B5394;
    background: #0B5394;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
}



/**SERVICES*/

.content-service-1{
    margin-top: 5rem;
}

.service-comb{
    max-width: 75rem;
}

.services-img-bg {
    width: 100%;
    height: 31.25rem;
    background-size: cover;
    background-position: center;
    border-radius: 0.8rem;
}

.card.service-body{
    border-radius: 0.75rem;
    background: rgba(44, 177, 143, 0.50);
    max-height: 31.25rem;
    border-radius: 0.8rem;
    border: none;
    padding: 2rem;
}

.card.service-img-card{
    background: transparent;
    border-radius: 0.75rem;
    border: none;
}

.service-title{
    color: #000;
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 150% */
    letter-spacing: -0.1rem;
}

.service-subtext{
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    letter-spacing: -0.02rem;
    margin-top: 1.5rem;
}

#custom-drag-cursor {
    background: rgba(44, 177, 143, 0.9); /* Your requested color, slightly opaque */
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    line-height: 6rem; /* Centers text vertically */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.1s linear;
}

.my-owl-2 {
    cursor: none !important;
}


.service-progress-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.progress-line {
    flex: 1;
    height: 6px;
    background: #e9e9ff;   /* light violet */
    border-radius: 20px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    width: 0%;
    background: #101010;   /* dark grey */
    transition: width 0.4s ease;
}

.progress-arrows {
    display: flex;
    gap: 10px;
}

.p-arrow {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #eee;
    background: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}

.p-arrow:hover {
    background: #f0f0ff;
}


.test-img{
    border: 0.8rem;
}

.card.testimonial-card{
    border: none;
}

.test-text-1{
    color: #374151;
    text-align: center;
    font-family: Manrope;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.375rem; /* 158.333% */
    letter-spacing: -0.03rem;
}

.test-text-2{
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.375rem; /* 158.333% */
}

.test-text-3{
    color: #4B5563;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.375rem; /* 158.333% */
}

.test-text-4{
    color: #0B5394;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.375rem; /* 158.333% */
}

/**FOOTER**/

footer{
    background: #0B5394;
    padding: 5rem 4.4375rem;
}

.footer-section{

}

.footer-logo{
    width: 9.375rem;
    height: 5.25rem;
    aspect-ratio: 25/14;
}

.footer-text{
    color: #D1D5D8;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}

.social-icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-text-1{
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footer-text-2{
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.no-decoration{
    text-decoration: none;
}

.loc-1{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    align-self: stretch;
    max-width: 20rem;
}

.loc-1 p{
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.copy{
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}